<%= render :partial => 'signup'%>
<center>
  <ul>
    <li><%= form_for(@user) do |f| %></li>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
    <li><%= f.label :email %></li>
    <li><%= f.text_field :email %></li>
    <li><%= f.label :password %></li>
    <li><%= f.text_field :password %></li>
    <li><%= f.label :password_confirmation %></li>
    <li><%= f.text_field :password_confirmation %></li>
  </ul>
<br><%= f.submit 'Create account!'%></center>
<%end%>
