<!DOCTYPE html>
<html>
<head>
  <title>Hnclown</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p align ="left"><%= link_to 'Add URL', new_link_path %></p><br><br>
<%= yield %>

</body>
</html>
